# suggested: python 3.8 for multi-agent-ale-py
# pettingzoo includes box2d-py and multi-agent-ale-py
swig # needed for box2d-py
# cmake gcc g++ zlib1g-dev needed for box2d and multi-agent-ale
pettingzoo[all]
torch
torchvision
torchaudio
torchrl
tensorboard
# benchmarl

wandb
vmas
tqdm
matplotlib
av
PExpect

tyro
supersuit
optuna